ul#menu
    li
        a(href="index.html#about").
            About
    li
        a(href="index.html#example").
            Example
    li
        a(href="https://nahiyan.gitbook.io/ondesked/v/guides/").
            Guide
    li
        a(href="https://nahiyan.gitbook.io/ondesked/").
            Documentation