div.navbar-light
    button.navbar-toggler(data-toggle="collapse" data-target="#menu" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon

ul.nav.flex-column#menu.collapse
    li
        h1 Menu

    li.nav-item
        a.nav-link(href="#introduction") Introduction

    li.nav-item
        a.nav-link(href="#app") App

    li.nav-item
        a.nav-link(href="#frame") Frame

    li.nav-item
        a.nav-link(href="#panel") Panel

    li.nav-item
        a.nav-link(href="#text") Text

    li.nav-item
        a.nav-link(href="#button") Button

    li.nav-item
        a.nav-link(href="#textfield") Textfield

    li.nav-item
        a.nav-link(href="#textarea") Textarea

    li.nav-item
        a.nav-link(href="#colpane") Collapsible Pane

    li.nav-item
        a.nav-link(href="#table") Table

    li.nav-item
        a.nav-link(href="#menu_system") Menu System