ul.nav.flex-column#menu
    li
        h1 Menu

    li.nav-item
        a.nav-link(href="#introduction") Introduction

    li.nav-item
        a.nav-link(href="#app") App

    li.nav-item
        a.nav-link(href="#frame") Frame

    li.nav-item
        a.nav-link(href="#panel") Panel

    li.nav-item
        a.nav-link(href="#button") Button

    li.nav-item
        a.nav-link(href="#textfield") Textfield

    li.nav-item
        a.nav-link(href="#textarea") Textarea

    li.nav-item
        a.nav-link(href="#colpane") Collapsible Pane

    li.nav-item
        a.nav-link(href="#table") Table